<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student"
          class="com.chelsia.spring_core.Student">

        <property name="name" value="Chelsiah"/>
        <property name="department" value="CSE"/>

    </bean>

</beans>